<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Confirmation</title>
</head>
<body>
    <form action="/otpConfirmForm/<%= userId %>" method="post">
        <label>OTP : </label>
        <input type="text" name="otp" placeholder="Enter OTP">
        <button type="submit">Save</button>
    </form>
</body>
</html>
